# Unity generated
Library/
Temp/
Obj/
obj/
Logs/
MemoryCaptures/
UserSettings/

# Build output
Build/
Builds/

# Visual Studio
.vs/
*.csproj
*.sln
*.suo
*.user
packages.config

# OS
.DS_Store
Thumbs.db
